<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520441063246-310pbded20omc411ab5nh6sclp830lgh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520441063246-310pbded20omc411ab5nh6sclp830lgh</string>
	<key>API_KEY</key>
	<string>AIzaSyBFjZMujDL9MVgHyhEtXSqQKKr_qBz6GBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>520441063246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appmorelanded7772.layout</string>
	<key>PROJECT_ID</key>
	<string>land777-500d1</string>
	<key>STORAGE_BUCKET</key>
	<string>land777-500d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520441063246:ios:fc244697901008c196201f</string>
</dict>
</plist>